{{> navbar}} <!-- This is the partial for the navigation bar, we use > right after the opening mustache to denote it's a partial -->

<div class="d-flex flex-column content"> <!-- ".content" will be the biggest div for all pages after login (for general margin and padding) -->

  <div class="container allorders-container">
    <div class="d-flex justify-content-between allorders-header">
      <h2 class="titletext">All Orders</h2>
      <button type="button" class="btn btn-secondary btn-lg" onclick="location.href='/search';">Search</button>
    </div>

    <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Order Number</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Contact Information</th>
        <th scope="col">Mode of Delivery</th>
        <th scope="col">Address</th>
        <th scope="col">Date Needed</th>
        <th scope="col">Time Needed</th>
        <th scope="col">Paella Size</th>
        <th scope="col">Order status</th>
        <th scope="col">Extra Remarks</th>
        <th scope="col">Pan Assigned</th>
      </tr>
    </thead>
    <tbody>
      {{#if records}}
        {{#each records}}
          <tr>
            <td  class="orderRow"><u>{{this.ordernum}}</u></td>
            <td>{{this.name}}</td>
            <td>{{this.contact_info}}</td>
            <td>{{this.mode_of_delivery}}</td>
            <td>{{this.address}}</td>
            <td>{{this.date}}</td>
            <td>{{this.time}}</td>
            <td>{{this.paellasize}}</td>
            <td>{{this.status}}</td>
            <td>{{this.extraremarks}}</td>
            <td>{{this.pan_used}}</td>
          </tr>
          {{/each}}
      {{else}}
        <tr>
          <td>No orders available</td>
        </tr>
      {{/if}}
    </tbody>
    </table>
  </div>
</div>

