{{> navbar name=username}} <!-- This is the partial for the navigation bar, we use > right after the opening mustache to denote it's a partial -->

<div class="d-flex flex-column content"> <!-- ".content" will be the biggest div for all pages after login (for general margin and padding) -->

    <div class="container ingredients-container">
        <div class="d-flex justify-content-between ingredients-header">
            <h2 class="titletext">Ingredients Inventory</h2>
            <!--
            <button id="ingredients-editbtn" type="button" class="btn btn-secondary btn-lg">Edit</button>
            -->
            <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#ingredients-editbtn">
                Edit
            </button>
            <!-- TODO: Make update ingredients into a modal -->

            <!-- temporary script codee 
            <script>
                $("#ingredients-editbtn").click(function() {
                    window.location.href = "update-ingredients";
                });
            </script>
            -->
            <div class="modal fade" id="ingredients-editbtn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content container">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update Ingredients</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                           <table class="table">
                             <thead class="thead-dark ingredient-row">
                                <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Ingredient Name</th>
                                <th scope="col">Quantity</th>
                                </tr>
                                </thead>
                            <tbody class="ingredient-row">
                                <tr>
                                <th scope="row" class="table-danger">1</th>
                                <td>Saffron</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus1" class="minus bg-dark">-</span>
                                        <input type="number" id ="count1" class="count" name="qty1" value={{this.records.0.quantity}}>
                                        <span id= "plus1" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row" class="table-danger">2</th>
                                <td>Olive Oil</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus2" class="minus bg-dark">-</span>
                                        <input type="number" id ="count2" class="count" name="qty2" value={{this.records.1.quantity}}>
                                        <span id= "plus2" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row" class="table-danger">3</th>
                                <td>White Onions</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus3" class="minus bg-dark">-</span>
                                        <input type="number" id ="count3" class="count" name="qty3" value={{this.records.2.quantity}}>
                                        <span id= "plus3" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row" class="table-danger">4</th>
                                <td>Tomatoes</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus4" class="minus bg-dark">-</span>
                                        <input type="number" id ="count4" class="count" name="qty4" value={{this.records.3.quantity}}>
                                        <span id= "plus4" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row" class="table-danger">5</th>
                                <td>Garlic</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus5" class="minus bg-dark">-</span>
                                        <input type="number" id ="count5" class="count" name="qty5" value={{this.records.4.quantity}}>
                                        <span id= "plus5" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row" class="table-warning">6</th>
                                <td>Chicken Breast Part</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus6" class="minus bg-dark">-</span>
                                        <input type="number" id ="count6" class="count" name="qty6" value={{this.records.5.quantity}}>
                                        <span id= "plus6" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row" class="table-warning">7</th>
                                <td>Chorizo</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus7" class="minus bg-dark">-</span>
                                        <input type="number" id ="count7" class="count" name="qty7" value={{this.records.6.quantity}}>
                                        <span id= "plus7" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row" class="table-warning">8</th>
                                <td>Bilbao</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus8" class="minus bg-dark">-</span>
                                        <input type="number" id ="count8" class="count" name="qty8" value={{this.records.7.quantity}}>
                                        <span id= "plus8" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row" class="table-warning">9</th>
                                <td>Lomo (Pork Tenderlion)</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus9" class="minus bg-dark">-</span>
                                        <input type="number" id ="count9" class="count" name="qty9" value={{this.records.8.quantity}}>
                                        <span id= "plus9" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row">10</th>
                                <td>Crabs</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus10" class="minus bg-dark">-</span>
                                        <input type="number" id ="count10" class="count" name="qty10" value={{this.records.9.quantity}}>
                                        <span id= "plus10" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row">11</th>
                                <td>Sugpo (Tiger Prawns)</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus11" class="minus bg-dark">-</span>
                                        <input type="number" id ="count11" class="count" name="qty11" value={{this.records.10.quantity}}>
                                        <span id= "plus11" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row">12</th>
                                <td>Suahe (Shrimps)</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus12" class="minus bg-dark">-</span>
                                        <input type="number" id ="count12" class="count" name="qty12" value={{this.records.11.quantity}}>
                                        <span id= "plus12" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row">13</th>
                                <td>Tahong (Mussles)</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus13" class="minus bg-dark">-</span>
                                        <input type="number" id ="count13" class="count" name="qty13" value={{this.records.12.quantity}}>
                                        <span id= "plus13" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row">14</th>
                                <td>Halaan (Clams)</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus14" class="minus bg-dark">-</span>
                                        <input type="number" id ="count14" class="count" name="qty14" value={{this.records.13.quantity}}>
                                        <span id= "plus14" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row">15</th>
                                <td>Lumot (Big Squid)</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus15" class="minus bg-dark">-</span>
                                        <input type="number" id ="count15" class="count" name="qty15" value={{this.records.14.quantity}}>
                                        <span id= "plus15" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row" class="table-success">16</th>
                                <td>Chicken Stock</td>
                               <td>
                                    <div class="qty">
                                        <span  id= "minus16" class="minus bg-dark">-</span>
                                        <input type="number" id ="count16" class="count" name="qty16" value={{this.records.15.quantity}}>
                                        <span id= "plus16" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row">17</th>
                                <td>White Japanese Rice</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus17" class="minus bg-dark">-</span>
                                        <input type="number" id ="count17" class="count" name="qty17" value={{this.records.16.quantity}}>
                                        <span id= "plus17" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row">18</th>
                                <td>Eggs</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus18" class="minus bg-dark">-</span>
                                        <input type="number" id ="count18" class="count" name="qty18" value={{this.records.17.quantity}}>
                                        <span id= "plus18" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row">19</th>
                                <td>Mayo</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus19" class="minus bg-dark">-</span>
                                        <input type="number" id ="count19" class="count" name="qty19" value={{this.records.18.quantity}}>
                                        <span id= "plus19" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row">20</th>
                                <td>Garlic</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus20" class="minus bg-dark">-</span>
                                        <input type="number" id ="count20" class="count" name="qty20" value={{this.records.19.quantity}}>
                                        <span id= "plus20" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row">21</th>
                                <td>Lemon</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus21" class="minus bg-dark">-</span>
                                        <input type="number" id ="count21" class="count" name="qty21" value={{this.records.20.quantity}}>
                                        <span id= "plus21" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row">22</th>
                                <td>Red Bell Pepper</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus22" class="minus bg-dark">-</span>
                                        <input type="number" id ="count22" class="count" name="qty22" value={{this.records.21.quantity}}>
                                        <span id= "plus22" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                <tr>
                                <th scope="row">23</th>
                                <td>Rosemary (for garnish)</td>
                                <td>
                                    <div class="qty">
                                        <span  id= "minus23" class="minus bg-dark">-</span>
                                        <input type="number" id ="count23" class="count" name="qty23" value={{this.records.22.quantity}}>
                                        <span id= "plus23" class="plus bg-dark">+</span>
                                     </div>
                                </td>
                                
                                </tr>
                                       
                            </tbody>
                            </table>
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            

        </div>

        <div class="row">
            <div class ="col">
                <p class = "h3">Soffrito<p>
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Saffron</td>
                            <td id="inventory-soffrito_1">{{this.records.0.quantity}}</td>
                            <td>Pinch</td>
                            <td>27.00</td>
                        </tr>
                        <tr>
                            <td>Olive Oil</td>
                            <td id="inventory-soffrito_2">{{this.records.1.quantity}}</td>
                            <td>mL</td>
                            <td>146.00</td>
                        </tr>
                        <tr>
                            <td>White Onions</td>
                            <td id="inventory-soffrito_3">{{this.records.2.quantity}}</td>
                            <td>Big Onion</td>
                            <td>18.00</td>
                        </tr>
                        <tr>
                            <td>Tomatoes</td>
                            <td id="inventory-soffrito_4">{{this.records.3.quantity}}</td>
                            <td>400g Can</td>
                            <td>44.50</td>
                        </tr>
                        <tr>
                            <td>Garlic</td>
                            <td id="inventory-soffrito_5">{{this.records.4.quantity}}</td>
                            <td>Clove</td>
                            <td>8.75</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class ="col">
                <p class = "h3">Meat<p>
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Chicken Breast Part</td>
                            <td id="inventory-meat_1">{{this.records.5.quantity}}</td>
                            <td>pieces</td>
                            <td>85.00</td>
                        </tr>
                        <tr>
                            <td>Chorizo</td>
                            <td id="inventory-meat_2">{{this.records.6.quantity}}</td>
                            <td>pieces</td>
                            <td>92.50</td>
                        </tr>
                        <tr>
                            <td>Bilbao</td>
                            <td id="inventory-meat_3"/>{{this.records.7.quantity}}</td>
                            <td>pieces</td>
                            <td>19.00</td>
                        </tr>
                        <tr>
                            <td>Lomo (Pork Tenderlion)</td>
                            <td id="inventory-meat_4">{{this.records.8.quantity}}</td>
                            <td>grams</td>
                            <td>126.50</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="row">
            <div class ="col">
                <p class = "h3">Seafood<p>
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Crabs</td>
                            <td id="inventory-seafood_1">{{this.records.9.quantity}}</td>
                            <td>pieces</td>
                            <td>250.00</td>
                        </tr>
                        <tr>
                            <td>Sugpo (Tiger Prawns)</td>
                            <td id="inventory-seafood_2">{{this.records.10.quantity}}</td>
                            <td>pieces</td>
                            <td>25.83</td>
                        </tr>
                        <tr>
                            <td>Suahe (Shrimps)</td>
                            <td id="inventory-seafood_3">{{this.records.11.quantity}}</td>
                            <td>pieces</td>
                            <td>5.06</td>
                        </tr>
                        <tr>
                            <td>Tahong (Mussles)</td>
                            <td id="inventory-seafood_4">{{this.records.12.quantity}}</td>
                            <td>pieces</td>
                            <td>4.91</td>
                        </tr>
                        <tr>
                            <td>Halaan (Clams)</td>
                            <td id="inventory-seafood_5">{{this.records.13.quantity}}</td>
                            <td>pieces</td>
                            <td>1.87</td>
                        </tr>
                        <tr>
                            <td>Lumot (Big Squid)</td>
                            <td id="inventory-seafood_6">{{this.records.14.quantity}}</td>
                            <td>medium pc</td>
                            <td>96.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class ="col">
                <p class = "h3">Stock<p>
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Chicken Stock</td>
                            <td id="inventory-stock_1">{{this.records.15.quantity}}</td>
                            <td>Cups</td>
                            <td>0.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>
        
        <div class="row">
            <div class ="col">
                <p class = "h3">Extras<p>
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>White Japanese Rice</td>
                            <td id="inventory-etc_1">{{this.records.16.quantity}}</td>
                            <td>Cups</td>
                            <td>23.00</td>
                        </tr>
                        <tr>
                            <td>Egg</td>
                            <td id="inventory-etc_2">{{this.records.17.quantity}}</td>
                            <td>pieces</td>
                            <td>7.05</td>
                        </tr>
                        <tr>
                            <td>Mayo</td>
                            <td id="inventory-etc_3">{{this.records.18.quantity}}</td>
                            <td>mL</td>
                            <td>87.00</td>
                        </tr>
                        <tr>
                            <td>Garlic</td>
                            <td id="inventory-etc_4">{{this.records.19.quantity}}</td>
                            <td>Clove</td>
                            <td>8.75</td>
                        </tr>
                        <tr>
                            <td>Lemon</td>
                            <td id="inventory-etc_5">{{this.records.20.quantity}}</td>
                            <td>pieces</td>
                            <td>22.05</td>
                        </tr>
                        <tr>
                            <td>Red Bell Pepper</td>
                            <td id="inventory-etc_6">{{this.records.21.quantity}}</td>
                            <td>pieces</td>
                            <td>9.90</td>
                        </tr>
                        <tr>
                            <td>Rosemary (for garnish)</td>
                            <td id="inventory-etc_7">{{this.records.22.quantity}}</td>
                            <td>sprig</td>
                            <td>21.10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
</div>