{{> navbar}} <!-- This is the partial for the navigation bar, we use > right after the opening mustache to denote it's a partial -->

<div class="d-flex flex-column content"> <!-- ".content" will be the biggest div for all pages after login (for general margin and padding) -->      
    <div class="container pan-container">
        <h2>Pans Inventory</h2>

       <!-- 14 INCH PANS (4)-->
        <div class="pan-rows">
            <h3>14" Pans</h3>
            <div id="pan-14in" class="card-deck">
                {{#each records14}}
                    <div class="card pan-card">
                        <img class="pan-img card-img-top" src="{{this.image}}" alt="Photo of Pan {{this.main.name}}">
                        <div class="card-body">
                            <h4 class="card-title pannumber">Pan #{{this.main.name}}</h4>
                            <button id="{{this.main.name}}-status" type="button" class="btn btn-warning btn-block pan-status">{{this.main.order_id}}</button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <!-- 16 INCH PANS (3)-->
        <div class="pan-rows">
            <h3>16" Pans</h3>
            <div id="pan-16in" class="card-deck">
                {{#each records16}}
                    <div class="card pan-card">
                        <img class="pan-img card-img-top" src="{{this.image}}" alt="Photo of Pan {{this.main.name}}">
                        <div class="card-body">
                            <h4 class="card-title pannumber">Pan #{{this.main.name}}</h4>
                            <button id="{{this.main.name}}-status" type="button" class="btn btn-warning btn-block pan-status">{{this.main.order_id}}</button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <!-- 20 INCH PANS (4)-->
        <div class="pan-rows">
            <h3>20" Pans</h3>
            <div id="pan-20in" class="card-deck">
                {{#each records20}}
                    <div class="card pan-card">
                        <img class="pan-img card-img-top" src="{{this.image}}" alt="Photo of Pan {{this.main.name}}">
                        <div class="card-body">
                            <h4 class="card-title pannumber">Pan #{{this.main.name}}</h4>
                            <button id="{{this.main.name}}-status" type="button" class="btn btn-warning btn-block pan-status">{{this.main.order_id}}</button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        
    </div>
</div>